beautifulsoup4==4.10.0
imageio==2.16.0
joblib==1.1.0
networkx==2.6.3
numpy==1.22.2
packaging==21.3
Pillow==9.0.1
pyparsing==3.0.7
PyWavelets==1.2.0
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
sklearn==0.0
threadpoolctl==3.1.0
tifffile==2022.2.9